@import '_content/AGBlazorComponents/AGBlazorComponents.bundle.scp.css';

/* /Pages/About.razor.rz.scp.css */
p[b-swqyzfcnnb] {
    line-height: 2;
    margin: 20px;
    font-size: 20px;
}

img[b-swqyzfcnnb] {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    max-width: 100%;
    height: auto;
    padding-bottom: 35px;
}

a[b-swqyzfcnnb] {
    text-decoration: none;
    padding-left: 5px;
    color: #0000EE;
}

a:hover[b-swqyzfcnnb] {
    text-decoration: underline;
}

@media (max-width: 800px) {
    p[b-swqyzfcnnb] {
        font-size: 15px;
        line-height: 1.5;
        margin: 15px;
    }
}

@media (max-width: 400px) {
    p[b-swqyzfcnnb] {
        font-size: 12px;
        line-height: 1;
        margin: 10px;
    }
}
/* /Pages/Admin/Edit.razor.rz.scp.css */
#back[b-0riof0qqhj] {
    text-align: center;
}

.post-container[b-0riof0qqhj] {
    display: grid;
    grid-template-columns: 100px auto;
    width: 100%;
    padding: 20px;
    grid-column-gap: 10px;
}

textarea[b-0riof0qqhj] {
    min-height: 400px;
}

.edit[b-0riof0qqhj] {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    border-radius: 10px;
    background: #fff;
}

    .edit input[b-0riof0qqhj], textarea[b-0riof0qqhj] {
        border: none;
        outline: none;
        width: 100%;
    }

.submit[b-0riof0qqhj] {
    display: flex;
    justify-content: center;
}

.toolbar[b-0riof0qqhj] {
    width: 100%;
    height: 30px;
    display: flex;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 700;
    margin-left: 10px;
}

.toolbar span[b-0riof0qqhj]::after {
    content: " | ";
    padding-right: 5px;
}

@media (max-width: 1800px) {
    .toolbar[b-0riof0qqhj] {
        display: none;
    }
}
/* /Pages/Admin/Login.razor.rz.scp.css */
.grid-page[b-sbalqg64fh] {
}

.loginForm[b-sbalqg64fh] {
    display: grid;
    justify-content: center;
    grid-template-areas: 'user pass submit' 'validation validation validation';
    grid-gap: 20px;
}

    .loginForm .user[b-sbalqg64fh] {
        grid-area: user;
    }

    .loginForm .pass[b-sbalqg64fh] {
        grid-area: pass;
    }

    .loginForm .submit[b-sbalqg64fh] {
        grid-area: submit;
        align-self: center;
    }

    .loginForm .validaiton[b-sbalqg64fh] {
        grid-area: validation;
    }

    .loginForm button[b-sbalqg64fh] {
        margin: 0;
        padding: 10px;
        border-radius: 10px;
    }

.login[b-sbalqg64fh] {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    border-radius: 10px;
    background: #fff;
    width: 300px;
}

    .login input[b-sbalqg64fh] {
        border: none;
        outline: none;
        width: 100%;
    }

.success[b-sbalqg64fh], .error[b-sbalqg64fh] {
    text-align: center;
}

@media (max-width: 1500px) {
    .login[b-sbalqg64fh] {
        width: 200px;
    }
}

@media (max-width: 1050px) {
    .loginForm[b-sbalqg64fh] {
        justify-content: center;
        grid-template: "user" "pass" "submit" "validation";
    }
}
/* /Pages/Admin/Posts.razor.rz.scp.css */
table[b-p57rxm86c5] {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

tr:nth-child(even)[b-p57rxm86c5] {
    background-color: #f2f2f2;
}

tr:hover[b-p57rxm86c5] {
    background-color: #ddd;
}

th[b-p57rxm86c5] {
    padding: 8px;
    color: white;
    background-color: #000;
}

td[b-p57rxm86c5] {
    border: 1px solid #ddd;
    padding: 8px;
}

.crud[b-p57rxm86c5] {
    cursor: pointer;
}

.fa-plus-square[b-p57rxm86c5] {
    color: white;
    cursor: pointer;
}
/* /Pages/Index.razor.rz.scp.css */
.grid-post[b-h6h70jk1y7] {
    min-height: 166px;
    max-width: 1400px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 20px;
    width: 75%;
    justify-self: center;
    display: grid;
    grid-column-gap: 20px;
    align-content: center;
    grid-template-areas: 'date date' 'image title' 'image slug';
    grid-template-columns: 100px auto;
}

.grid-post-image[b-h6h70jk1y7] {
    grid-area: image;
    align-self: center;
}

    .grid-post-image img[b-h6h70jk1y7] {
        height: 100px;
        width: 100px;
        overflow: hidden;
    }

    .grid-post-title[b-h6h70jk1y7] {
        grid-area: title;
        font-size: 1.5rem;
        font-weight: 800;
    }

.grid-post-slug[b-h6h70jk1y7] {
    grid-area: slug;
    line-height: 1.6;
}

.grid-post-date[b-h6h70jk1y7] {
    grid-area: date;
    font-weight: lighter;
    font-style: italic;
    justify-self: end;
    padding-bottom: 5px;
}

.post-link[b-h6h70jk1y7] {
    text-decoration: none;
    padding-left: 5px;
    color: #0000EE;
}

    .post-link:hover[b-h6h70jk1y7] {
        text-decoration: underline;
    }

.pager[b-h6h70jk1y7] {
    padding: 20px;
    margin: 0 auto;
}

    .pager i[b-h6h70jk1y7] {
        font-size: 75px;
        padding: 10px;
        color: var(--element-color);
    }

.cog_container[b-h6h70jk1y7] {
    display: flex;
    width: 100%;
    color: #ff8000;
    padding: 20px 0;
}

    .cog_container i[b-h6h70jk1y7] {
        margin: 0 auto;
        -webkit-animation: spin-cog 2s linear infinite;
        -moz-animation: spin-cog 2s linear infinite;
        animation: spin-cog-b-h6h70jk1y7 2s linear infinite;
    }

@-moz-keyframes spin-cog {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin-cog {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin-cog-b-h6h70jk1y7 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 1570px) {
    .grid-post[b-h6h70jk1y7] {
        height: initial;
        grid-template-areas: 'date' 'title' 'slug';
        grid-template-columns: auto;
    }

    .grid-post-image[b-h6h70jk1y7] {
        display: none;
    }

    .grid-post-title[b-h6h70jk1y7] {
        font-size: 1.2rem;
    }
}

@media (max-width: 800px) {
    .grid-post[b-h6h70jk1y7] {
        height: initial;
    }

    .grid-post-image[b-h6h70jk1y7] {
        display: none;
    }

    .grid-post-title[b-h6h70jk1y7] {
        font-size: 1rem;
    }

    .pager[b-h6h70jk1y7] {
        padding: 10px;
        margin: 0 auto;
    }

        .pager i[b-h6h70jk1y7] {
            font-size: 25px;
            padding: 10px;
        }
}
/* /Pages/Photography.razor.rz.scp.css */
p[b-gx2g3elmln] {
    max-width: 1440px;
    width: 75%;
    font-size: 18px;
    justify-self: center;
}
/* /Pages/Post.razor.rz.scp.css */
#post-container[b-aatwyi7hc9] {
    width: 100%;
    max-width: 1440px;
    min-width: 300px;
    box-sizing: border-box;
    padding: 10px 40px;
    overflow: auto;
    margin: 0 auto;
    line-height: 2.5;
}

    #post-container h2[b-aatwyi7hc9] {
        font-size: 40px;
    }


#post-date[b-aatwyi7hc9] {
    position: relative;
    justify-self: end;
    right: 20px;
    text-align: end;
    padding: 10px 10px 20px 10px;
    font-style: italic;
    font-weight: 600;
}

#post-back[b-aatwyi7hc9] {
    position: relative;
    justify-self: center;
    padding-top: 30px;
    text-align: center;
}

#post-back a[b-aatwyi7hc9] {
    padding-top: 30px;
    text-decoration: none !important;
    font-size: 20px;
    color: #0000EE;
}

#post-back a:hover[b-aatwyi7hc9] {
    text-decoration: underline !important;
}

#post-container p[b-aatwyi7hc9] {
    padding-bottom: 30px;
    line-height: 1.6;
}

#post-container img[b-aatwyi7hc9] {
    display: block;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 10px;
    max-width: 100%;
}
/* /Pages/Stack.razor.rz.scp.css */
.logos[b-lae6r6tmjj] {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.icon[b-lae6r6tmjj] {
    width: 250px;
    height: 250px;
    padding: 20px;
    display: flex;
    justify-content:center;
    align-content: center;
    transition: ease-in-out 0.5s;
}

img:hover[b-lae6r6tmjj] {
    opacity: 0.5;
}

a[b-lae6r6tmjj] {
    margin: auto;
    display: block;
}

@media (max-width: 1200px) {
    img[b-lae6r6tmjj] {
        height: 150px;
        width: 150px;
    }
}

@media (max-width: 800px) {
    img[b-lae6r6tmjj] {
        height: 125px;
        width: 125px;
    }

    .icon[b-lae6r6tmjj] {
        width: 200px;
        height: 200px;
        padding: 15px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    img[b-lae6r6tmjj] {
        height: 100px;
        width: 100px;
    }

    .icon[b-lae6r6tmjj] {
        width: 150px;
        height: 150px;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 400px) {
    img[b-lae6r6tmjj] {
        height: 75px;
        width: 75px;
    }

    .icon[b-lae6r6tmjj] {
        width: 100px;
        height: 100px;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.logout-container[b-7647mey896] {
    margin-top: 30px;
}
/* /Shared/Search.razor.rz.scp.css */
.search[b-2drrxd5kmf] {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    border-radius: 10px;
    background: #fff;
    width: 400px;
}

    .search input[b-2drrxd5kmf] {
        border: none;
        outline: none;
        width: 100%;
    }

    .search i[b-2drrxd5kmf] {
        color: var(--element-color);
    }

.search-post[b-2drrxd5kmf] {
    display: grid;
    grid-column-gap: 10px;
    align-content: center;
    grid-template-areas: 'title date' 'slug slug';
    padding: 20px;
    border-bottom: 1px dashed black;
}

    .search-post:first-of-type[b-2drrxd5kmf] {
        margin-top: 30px;
    }

    .search-post-title[b-2drrxd5kmf] {
        grid-area: title;
        font-size: 1.5rem;
        font-weight: 800;
        padding-bottom: 5px;
    }

.search-post-date[b-2drrxd5kmf] {
    grid-area: date;
    font-weight: lighter;
    font-style: italic;
    justify-self: end;
}

.search-post-slug[b-2drrxd5kmf] {
    grid-area: slug;
    line-height: 1.6
}

@media (max-width: 1200px) {
    .search[b-2drrxd5kmf] {
            width: 300px;
        }
    }

    @media (max-width: 800px) {
        .search[b-2drrxd5kmf] {
            width: 200px;
        }
    }
