{% for page in site.pages %}
    {% if page.tags contains "about" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
    {% if page.tags contains "interests" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
{% if site.github_username %}
  <a class="fa fa-github" href="https://github.com/{{ site.github_username }}"></a>
{% endif %}
{% if site.linkedin_username %}
  <a class="fa fa-linkedin" href="https://linkedin.com/in/{{ site.linkedin_username }}"></a>
{% endif %}
<a class="fa fa-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}"></a>

<script>
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
