@page "/about"

<div id="grid-container">
    <h2>About</h2>
    <div class="grid-page">
        <img src="code_camp.png" alt="Code Camp" />
        <p>
            Lead Developer at Open Dealer Exchange, I have over 20 years experience in software development at Pfizer, American Express, FPL, ADP and others. I am an MCP, a former adjunct instructor at Broward College, and have presented at South Florida Code Camp. 
            I have spent most of my career as a full stack developer working in .NET.
        </p>
        <p>
            I am interested in open source software development using .NET Core, ASP.NET Core and Blazor. This website was written using those technologies along with several others. You can get more information about the technology used to 
            build this site on the <a href="/stack">[Technology Stack]</a> page.
        </p>
        <p>
            When not writing code, I enjoy collecting vinyl, playing chess, and photographing some of the unique and interesting wildlife near my home. You can view some of my photos on the <a href="/photography">[Photography]</a> page.
        </p>
    </div>
</div>