@page "/stack"

<div id="grid-container">
    <h2>Technology Stack</h2>
    <div class="grid-page">
        <div class="logos">
            <div class="icon"><a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank"><img src="icons/blazor.png" alt="blazor" /></a></div>
            <div class="icon"><a href="https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/" target="_blank"><img src="icons/c_sharp.png" alt="C#" /></a></div>
            <div class="icon"><a href="https://dotnet.microsoft.com/" target="_blank"><img src="icons/dot_net_core.png" alt=".NET Core" /></a></div>
            <div class="icon"><a href="https://www.w3.org/TR/html52/" target="_blank"><img src="icons/html5.png" alt="HTML 5" /></a></div>
            <div class="icon"><a href="https://www.w3.org/Style/CSS/" target="_blank"><img src="icons/css3.png" alt="CSS 3" /></a></div>
            <div class="icon"><a href="https://www.w3.org/wiki/JavaScript" target="_blank"><img src="icons/javascript.png" alt="Javascript" /></a></div>
            <div class="icon"><a href="https://www.sqlite.org/index.html" target="_blank"><img src="icons/sqlite.png" alt="SQLite" /></a></div>
            <div class="icon"><a href="https://azure.microsoft.com/" target="_blank"><img src="icons/azure.png" alt="Azure" /></a></div>
            <div class="icon"><a href="https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-insights-overview" target="_blank"><img src="icons/insights.png" alt="Application Insights" /></a></div>
            <div class="icon"><a href="https://git-scm.com/" target="_blank"><img src="icons/git.png" alt="Git" /></a></div>
            <div class="icon"><a href="https://pages.github.com/" target="_blank"><img src="icons/github_pages.png" alt="GitHub Pages" /></a></div>
        </div>
    </div>
</div>